.container img {
    height: 140px;
    width: 220px;
}

.container a {
    font-size: 20px;
    margin-left: 10px;
}

.nav-link {
    color: #7fdbda;
}

.col-lg-4 p {
    margin-left: 150px;
    text-align: center;
    font-size: 18px;
    color: #7fdbda;
    font-weight: 200px;
}

.col-lg-4 button {
    margin-left: 212px;
    border-radius: 20px;
    font-size: large;
}

.col-lg-8 img {
    height: auto;
    width: auto;
}

.world img {
    height: 650px;
    width: 1205px;
}

.logo img {
    margin-top: 25px;
}


/*FOOTER*/
.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li {
    padding: 5px 4px;
}

.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

@media (min-width: 768px) {

    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}

.btn-success {
    width: 80px;
}

.img-fluid {
    width: 100px;
    height: 100px;

}

/*MASUK*/
.masuk {
    margin-top: -100px;
    margin-left: -79px;
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.form-log {
    margin-top: 65px;
    width: 500px;
    height: 620px;
    border-radius: 30px;
    padding: 100px;
    background-color: lightgray;
    margin-left: 450px;
}

.form-group {
    width: 460px;
    margin-left: -80px;
}

.col-lg-4 img {
    height: auto;
    width: auto;
}

.col-lg-4 {
    margin-left: -100px;
}